.section {
  z-index: 90;
  padding-top: 100px;
  padding: 30px;
  width: 100%;
  height: 100%;
  background: var(--bg-section);
}
.section-title {
  z-index: 100;
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
}
