* {
  max-width: 100%;
  box-sizing: border-box !important;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.header {
  margin: 0 0 5px 0;
  padding: 10px;
  z-index: 100;
  max-width: 100%;
  height: 50px;
  color: #55f;
  background: var(--bg-header);
  box-shadow: 5px 5px 5px 5px var(--bg-shadow);
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.menu {
  width: auto;
  height: auto;
}
.menu-span {
  transform: skewX(-30deg);
  position: relative;
  display: block;
  background: var(--bg-menu);
  margin: 5px 5px 5px 10px;
  width: 35px;
  height: 3px;
}
.header-logo-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo {
  margin: 0;
  color: var(--c-header-logo);
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
}
.section {
  z-index: 90;
  padding: 30px;
  width: 100%;
  height: 100%;
  background: var(--bg-section);
}
.hidden {
  visibility: hidden;
}
